@using Domain_Models

<div class="card">
    <div class="card-body">
        <div class="card-content">
            <h5 class="card-title">Brand:@evCar.brand</h5>
            <h5 class="card-title">Model: @evCar.model</h5>
            <h5 class="card-title">Year: @evCar.year</h5>
            <h5 class="card-title">Color: @evCar.color</h5>
            <h5 class="card-title">Horse Power: @evCar.hoursePower</h5>
            <h5 class="card-title">Battery Capacity: @evCar.batteryCapacity kWh</h5>
            <h5 class="card-title">Range: @evCar.range miles</h5>
            <div class="name-container">
                <p class="first-name">Number of Doors: @evCar.numberOfDoors</p>
                <p class="last-name">Additional Equipment: @string.Join(", ", evCar.listOfAdditionalEquipment ?? new List<string>())</p>
            </div>
        </div>
    </div>
</div>

@code {
    [Parameter]
    public EVCar evCar { get; set; }
}
