@page "/car/{carId}"

<PageTitle>Car</PageTitle>

<h1>Car</h1>

<div>
    <hr />
    <p>This vehicle is from the great brand of <span style="color: red;">@carToShow.brand</span>.</p>
    <p>It is their model: <span style="color: red;">@carToShow.model</span>.</p>
    <p>Made in the year <span style="color: red;">@carToShow.year</span>.</p>
    <p>The <span style="color: red;">@carToShow.color</span> exterior matches well with its <span style="color: red;">@carToShow.hoursePower</span> number of horsepowers.</p>
    <a href="@carousel"> Go to carousel for this car! </a> <br /><br />
    <a href="@addPicture"> Go to add for this car! </a>
    
    
    <ModalTemp @ref="Modal"></ModalTemp>
    <br /><br />
    <button @onclick="() => Modal.Open()"> Contact Seller </button>

</div>

@code {
    [Parameter]
    public string carId { get; set; }
    public Vehicle carToShow;
    private string carousel;
    private string addPicture;
    private ModalTemp Modal { get; set; }

    protected override void OnInitialized()
    {
        int idToFind = Int32.Parse(carId);
        carToShow = DB.allVehicles.Find(x => x.Id == idToFind);
        carousel = $"carousel/{carId}";
        addPicture = $"car/{carId}/addpicture";
    }
}
